@{
    ViewBag.Title = "About";
}

    <h3>@ViewBag.Message</h3>

    <p>This is a simple web app with the primary goal of keeping a personal inventory. 
    You are able to add, delete, and edit items and categories. This was a final project for my ASP.NET class.</p>

   