@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>



<p>This is a simple web app with the primary goal of keeping a simple personal inventory. You are able to added, delete, and edit items and categories. This was a final project for my ASP.NET class.</p>
