
@{
    ViewBag.Title = "Home Page";
}
<h2>Welcome!</h2>
<p>
    This application's sole purpose is to keep a personal inventory of anything you want to keep track of.
</p>
<p>
    Create your categories and then log your items.
</p>
<p>
    @Html.ActionLink(" Click here to get started!", "Index", "Categories", null, new { })
</p>



