
@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Your Personal Inventory App.</h1>
    <h2>Welcome to your personal inventory app on the web!</h2>
    <p>
        This applications's sole purpose is to keep a personal inventory of anything you need kept track of.
    </p>
</div>

        
