
@{
    ViewBag.Title = "Home Page";
}
<h1>Welcome to your personal inventory app on the web!</h1>
<p>
    This application's sole purpose is to keep a personal inventory of anything you want to keep track of.
</p>
<p>
    All you need to do is create categories and then create your items.
</p>
<p>
    @Html.ActionLink(" Click here to get started!", "Index", "Categories", null, new { })
</p>



