@{
    ViewBag.Title = "Success";
}


<div class="jumbotron">
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>
    <h2> Message sent! We'll get back to you as soon as we can!</h2>
</div>

   
